{% extends 'template/menu.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <div clas="form-group">
        <button class="btn btn-outline-dark">Gravar</button>
    </div>
</form>
{% if pessoas %}
<table class="table table-hover">
    <thead class="text-center">
        <tr>
            <th scope="col">Ficha Frequência </th>
            <th scope="col">Lançar Falta</th>
            <th scope="col">Lançar Pontuação</th>
            <th scope="col">Atualização</th>
            <th scope="col">Nome</th>



        </tr>
    </thead>
    <tbody class="text-center">

        {% for pessoa in pessoas %}
        <tr>
            <td><a class='btn btn-info' href="{% url 'listarficha' pessoa.id %}"><span class="material-icons">
                visibility
                </span></a></td>
            <td><a class='btn btn-info' href="{% url 'lancarfalta' pessoa.id %}"><span class="material-icons">
                add
                </span></a> </td>
            <td> <a class='btn btn-info' href="{% url 'lancarpontuacao' pessoa.id %}"><span class="material-icons">
                add
                </span></a></td>
            <td><a class='btn btn-info' href="{% url 'atualizarpessoa' pessoa.id %}"><span class="material-icons">
                autorenew
                </span></a></a></td>

            <td class="text-left align-middle">{{pessoa.nome}}</td>
        </tr>
        {% endfor %}
        {% else %}

        {% endif %}
        </tr>
    </tbody>
</table>
{% endblock content %}